spring:
  application:
    name: store

  datasource:
    url: jdbc:postgresql://localhost:5432/EcomerceDB
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
